<!DOCTYPE html>
<html>
  <head>
     <!--We have title and meta tags like charset, viewport, keywords etc here-->
    <link rel="stylesheet" href="stylesheet/style.css" type="text/css" />
  </head>
  <body ng-app="myApp">
    <ul>
      <li><a ui-sref="home">Home</a></li>
      <li><a ui-sref="about">About Me</a></li>
    </ul>
    <div ui-view></div>
    

  </body>
   <!--<script type="text/javascript" src="javascripts/angular.min.js"></script>-->
   <!--<script type="text/javascript" src="javascripts/angular-route.min.js"></script> -->
   <script type="text/javascript" src="javascripts/scripts.js"></script>
  <script type="text/javascript" >
    var app = angular.module("myApp",['ui.router']);
    app.config(function($stateProvider, $urlRouterProvider)  {
      $urlRouterProvider.otherwise('/');
      $stateProvider
        .state('home', {
            url: '/',
            templateUrl:  "partials/form.html",
            controller:"myCtrl"
        }) 
        .state('about', {
        url: '/about',
        templateUrl: 'partials/about.html',
        controller: function($scope) {
            $scope.aboutMeText = 'Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.';
        }
    })


      // $routeProvider
      // .when("/", {
      //     templateUrl : "partials/form.html",
      //     controller : "myCtrl"
      // });
       
    });
    app.factory("checkResponse", function($http, $q){
      return {
        getResponse : function(data){
                              
                              var deferred = $q.defer();
                                $http({
                                  method : "POST",
                                  url : "/response",
                                  data: data,
                                  headers: {
                                        'Content-type': 'application/json'
                                  }
                                })
                              .success(function(data) { 
                                  if(data.firstName.length == 1){
                                    deferred.reject("Please write more then one letter in firstName.");
                                  }else{
                                    deferred.resolve(data);
                                  }
                                  
                              }).error(function(msg, code) {
                                  deferred.reject(msg);
                                  
                              });
                              return deferred.promise;
                            }
      }
      
          
        // $http({
        //     method : "POST",
        //     url : "/response",
        //     data: $scope.formData,
        //     headers: {
        //           'Content-type': 'application/json'
        //     }
        //   }).then(function mySucces(response) {
        //     $scope.responseData = response.data;
        //   }, function myError(response)  {
        //       $scope.responseData =  response.statusText;
        //   });
       

    })
    app.controller("myCtrl",function( $scope, $http, checkResponse){
      $scope.response = function(){
        var promise = checkResponse.getResponse($scope.formData);
        promise.then(function(successData) {
            $scope.responseData = successData;
          }, function(errorData) {
             $scope.responseData = errorData;
          }, function(update) {
            alert('Got notification: ' + update);
          }); 
      }
      // $scope.getResponse = function(){
      //   if($scope.form.$valid){
      //     var checkResponse  = new checkResponse();
      //     // $http({
      //     //   method : "POST",
      //     //   url : "/response",
      //     //   data: $scope.formData,
      //     //   headers: {
      //     //         'Content-type': 'application/json'
      //     //   }
      //     // }).then(function mySucces(response) {
      //     //   $scope.responseData = response.data;
      //     // }, function myError(response)  {
      //     //     $scope.responseData =  response.statusText;
      //     // });
      //   }
        
      // };
      

    });
  </script>
</html>
