<!DOCTYPE html>
<html>
  <head>
     <!--We have title and meta tags like charset, viewport, keywords etc here-->
    <link rel="stylesheet" href="stylesheet/style.css" type="text/css" />
  </head>
  <body ng-app="myApp">
    <div ng-view></div>
    

  </body>
   <!--<script type="text/javascript" src="javascripts/angular.min.js"></script>-->
   <!--<script type="text/javascript" src="javascripts/angular-route.min.js"></script> -->
   <script type="text/javascript" src="javascripts/scripts.js"></script>
  <script type="text/javascript" >
    var app = angular.module("myApp",['ngRoute']);
    app.config(function($routeProvider) {
      $routeProvider
      .when("/", {
          templateUrl : "partials/form.html",
          controller : "myCtrl"
      });
       
    });

    app.controller("myCtrl",function($scope, $http){
      $scope.getResponse = function(){
        $http({
          method : "POST",
          url : "/response",
          data: $scope.formData,
          headers: {
                'Content-type': 'application/json'
          }
        }).then(function mySucces(response) {
           $scope.responseData = response.data;
        }, function myError(response)  {
            $scope.responseData =  response.statusText;
        });
      };
      

    });
  </script>
</html>
