<form novalidate name="form">
  First Name:<br>
  <input name="firstName" type="text" ng-model="formData.firstName" required>
  <span ng-show="form.firstName.$error.required">First Name is required.</span>
  <br>
  Last Name:<br>
  <input name=lastName type="text" ng-model="formData.lastName"  required>
  <span ng-show="form.lastName.$error.required">Last Name is required.</span>
   <br><br>
  <button ng-click="response()">SUBMIT</button>
</form>
<p>formData = {{formData}}</p>
With chaining promises. In this scenerio i have created holdOn function which hold the process using $timeout for 200ms. This function i am using in promise chain ( 4 times). 
<p>responseData = {{responseData}} => ResponseTime = {{apiResponseTime}}</p>
<p>Process Time = {{processTime}}</p>

Watcher<br>
<hr>
Watch variable = {{ watchVar}} => <button ng-click="addWatchVar()">Add 1 to Watch Variable</button><br>
Observer for watch variable(show if watch variable is multiple of 2) = {{observerForWatchVar}}
